.card {
    border-radius: 15px;
    z-index: 3;
    cursor: pointer;
    .card-img-top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .card-body {
        h4 {
            @include styleText($color-1, $fs-7, $fw-2);
        }
        h2 {
            @include styleText($color-2, $fs-3, $fw-1);
        }
        .card-text {
            @include styleText($color-5, $fs-5, $fw-3);
        }
    }
    &:hover {
        box-shadow: 0 30px 30px -10px #00000033;
        transition: all 300ms ease-in-out;
    }       
}