//color
$color-1: #b61984;
$color-2: #191919;
$color-3: #e5e5e5;
$color-4: #dcd1f3;
$color-5: #181818;
//font size
$fs-1: 57px;
$fs-2: 37.5px;
$fs-3: 23.25px;
$fs-4: 16.5px;
$fs-5: 15px;
$fs-6: 13px;
$fs-7: 11.25px;

//font weight
$fw-1: 700;
$fw-2: 600;
$fw-3: 400;

//responsive 
$res_320 : "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768 : "only screen and (min-width: 768px) and (max-width: 991px)";
$res_1200 : "only screen and (max-width: 1200px)";